{% extends 'masterpage.html'%}

{% load static %}

{% block 'title' %}
Change-password
{% endblock 'title' %}

{% block 'main' %}

<div class="container">

    <h1 class="text-center heading">CHANGE PASSWORD</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form id="changpassword" method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="mb-3">
            <label for="current_password" class="form-label font">* OLD PASSWORD</label>
            <input type="text" class="form-control" id="current_password" name="current_password"
                placeholder="Enter Old Password">
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label font">* NEW PASSWORD</label>
            <input type="text" class="form-control" id="new_password" name="new_password"
                placeholder="Enter New Password">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label font">* CONFORM Password</label>
            <input type="text" class="form-control" id="confirm_password" name="confirm_password"
                placeholder="Enter Conform Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock 'main' %}

{% block 'js' %}

<script>

    $(document).ready(function () {

        $("#loginform").validate({
            rules:
            {
                current_password:
                {
                    required: true
                },
                new_password:
                {
                    required: true,
                    minlength: 5,
                },
                confirm_password:
                {
                    required: true,
                    equalTo: '#newpassword',
                }
            },
            messages:
            {
                current_password:
                {
                    required: "Plese Enter Old Password"
                },
                new_password:
                {
                    required: "Plese Enter Password",
                    minlength: "Need 5 Character",
                },
                confirm_password:
                {
                    required: "Plese Enter Conform Password",
                    equalTo: "Enter password & Conform password must be same.",
                    minlength: "Need 5 Character",
                }
            },
        })
    })
</script>

{% endblock 'js' %}