{% extends 'masterpage.html'%}

{% load static %}

{% block 'title' %}
PRODUCT-2-DETA
{% endblock 'title' %}

{% block 'main' %}

<div class="container" enctype="multipart/form-data">
    <div class="car">
        <div class="row">
            <div class="col-6">
                <div class="car-slider w-100">
                    <div class="d-flex justify-content-center">
                        <img src="/media/{{ productData_2.product_2_img1 }}" class="img-fluid slider-img">
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="/media/{{ productData_2.product_2_img2 }}" class="img-fluid slider-img">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p class="name">{{ productData_2.product_2_name }}</p>
                    <p class="about"> Rs. {{ productData_2.product_2_price }}/-</p>
                    <p class="about">{{ productData_2.product_2_dis }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock 'main' %}