{% extends 'masterpage.html'%}

{% load static %}

{% block 'title' %}
EMPLOYEE-DETA
{% endblock 'title' %}

{% block 'main' %}

<div class="container">
  <h1 class="text-center heading">EMPLOYEE</h1>
  <div class="d-flex justify-content-end btn-div">
    <a href="/employeeform" class="btn btn-primary">Add</a>
  </div>

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <table class="table T-1" border="1PX">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">NAME</th>
        <th scope="col">PHOTO-ID</th>
        <th scope="col">CITY_NAME</th>
        <th scope="col">SALARY</th>
        <th scope="col">HRA</th>
        <th scope="col">DA</th>
        <th scope="col">PF</th>
        <th scope="col">NET SALARY</th>
        <th scope="col">GENDER</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">Action</th>
        <th scope="col">UPDATE</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in employeedata %}
      <tr>
        <th scope="row">{{ obj.employee_id }}</th>
        <th scope="row">{{ obj.employee_name }}</th>
        <th scope="row">
          <img src="{{ obj.employee_photo_id }}" width="100" />
        </th>
        <th scope="row">{{ obj.city_id.city_name }}</th>
        <th scope="row">{{ obj.employee_main_salery }}</th>
        <th scope="row">{{ obj.hra }}</th>
        <th scope="row">{{ obj.da }}</th>
        <th scope="row">{{ obj.pf }}</th>
        <th scope="row">{{ obj.net_salary }}</th>
        <th scope="row">{{ obj.employee_gender }}</th>
        <th scope="row">{{ obj.employee_department }}</th>
        <th>
          <a href="/deletedata/{{ obj.employee_id }}" class="crud-btn">Delete</a>
        </th>
        <th>
          <a href="/updateemployeedata/{{ obj.employee_id }}" class="crud-btn">UPDATE</a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock 'main' %}