{% extends 'masterpage.html'%}

{% load static %}

{% block 'title' %}
ADD CITY DATA DATA
{% endblock 'title' %}

{% block 'main' %}

<div class="container">
    <div class="text-center">
        <h1>INPUT DATA</h1>
    </div></br></br></br>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

    {% endif %}
    <form class="row g-3" method="post" id="cityform" enctype="multipart/form-data" action="/cityform">
        {% csrf_token %}
        <div class="col-md-12">
            <label id=""></label>
        </div>
        <div class="col-md-12">
            <label for="stateid" class="form-label font">* STATE</label>
            <select class="form-control" id="stateid" name="stateid">
                <option value="">Please select state</option>
                {% for obj in statedata %}
                <option value="{{ obj.state_id }}">{{ obj.state_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-12">
            <label for="cityname" class="form-label font">* CITY NAME</label>
            <input type="text" class="form-control" id="cityname" name="cityname" value="">
        </div>
        <div class="col-md-12">
            <label for="cityimg" class="form-label font">*CITY IMAGE</label>
            <input type="file" class="form-control" id="cityimg" name="cityimg" value="">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock 'main' %}

{% block 'js' %}

<script>

    $(document).ready(function () {


        $("#cityform").validate({
            rules:
            {
                cityname:
                {
                    required: true
                },
                cityimg:
                {
                    required: true
                },
            },
            messages:
            {
                cityname:
                {
                    required: "Please enter name"
                },
                cityimg:
                {
                    required: "Please Select IMG"
                },
            }
        });
    });

</script>
{% endblock %}