{% extends 'masterpage.html'%}

{% load static %}

{% block 'title' %}
 ADD STATE DATA DATA
{% endblock 'title' %}

{% block 'main' %}

<div class="container">
    <div class="text-center">
        <h1>INPUT DATA</h1>
    </div></br></br></br>
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

    {% endif %}
    <form class="row g-3" method="post" id="stateform" enctype="multipart/form-data" action="/addstatedata">
        {% csrf_token %}
        <div class="col-md-12">
            <label id=""></label>
        </div>
        <div class="col-md-12">
            <label for="statename" class="form-label font">* STATE NAME</label>
            <input type="text" class="form-control" id="statename" name="statename" value="">
        </div>
        <div class="col-md-12">
            <label for="stateimg" class="form-label font">*STATE IMAGE</label>
            <input type="file" class="form-control" id="stateimg" name="stateimg" value="">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock 'main' %}

{% block 'js' %}

<script>

    $(document).ready(function () {


        $("#stateform").validate({
            rules:
            {
                statename:
                {
                    required: true
                },
                stateimg:
                {
                    required: true
                },    
            },
            messages:
            {
                statename:
                {
                    required: "Please enter name"
                },
                stateimg:
                {
                    required: "Please Select IMG"
                },                
            }
        });
    });

</script>
{% endblock %}