{% extends 'masterpage.html'%}

{% load static %}

{% block 'title' %}
CATEGORY-DETA
{% endblock 'title' %}

{% block 'main' %}

<div class="container">
  <h1 class="text-center heading">CATEGORY</h1>
  <div class="d-flex justify-content-end btn-div">
    <a href="/categoryform" class="btn btn-primary">Add</a>
  </div>

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <table class="table T-1" border="1PX">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col"> CATEGORY NAME</th>
        <th scope="col">CATEGORY IMG</th>
        <th scope="col">DELETE</th>
        <th scope="col">UPDATE</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in categorydata %}
      <tr>
        <th scope="row">{{ obj.category_id }}</th>
        <th scope="row">{{ obj.category_name }}</th>
        <th scope="row">
          <img src="{{ obj.category_img }}" width="100" />
        </th>
        <th>
          <a href="/categorydelete/{{ obj.category_id }}" class="crud-btn">DELETE</a>
        </th>
        <th>
          <a href="/updatecategorydata/{{ obj.category_id }}" class="crud-btn">UPDATE</a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock 'main' %}